.ip {
  background-image: url("./pattern-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.search > h1 {
  color: white;
}

input {
  background-color: white;
  height: 40px;
  width: 300px;
  outline: 0;
  border: 0;
  margin-right: 0;
  border-radius: 5px 0px 0px 5px;
}
button {
  background-color: black;
  height: 42px;
  outline: 0;
  border: 0;
  width: 33px;
  color: white;
  margin-left: -5px;
  border-radius: 0px 5px 5px 0px;

}
form {
}
.search {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.location {
  height: 120px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  margin-left: 10%;
  top: 27%;
}
.first {
  font-size: 13px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.second {
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.location > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80px;
}
